<template>
    <div class="pad-b-20">
        <div class="card card-default">
            <div class="card-header">Example Component</div>
            <div class="card-body">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        }
    }
</script>

<style>
    .pad-b-20{
        padding-bottom: 20px;
    }
</style>